.page {
  display: flex;
  justify-content: center;
  min-height: 100vh;

  background-color: #9196a0;
}

.pageContent {
  width: 100%;
  max-width: 840px;
  padding: 20px;
  background-color: #dbdbdb;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.title {
  margin: 20px 20px 12px 20px;
  font-size: 2.4em;
  font-weight: 300;
}

.subtitle {
  margin: 0px 24px 20px 24px;
  font-size: 1.2em;
  font-weight: 300;
}

.header {
  width: 100%;
  margin: 10px 0px 10px 0px;
  font-size: 1.8em;
  font-weight: 400;
}

.footer {
  width: 100%;
  margin: 40px 0px 10px 0px;
  font-size: 0.8em;
}
