/* Sizing + Margins aren't done */

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px 10px 0px;
  padding: 4px 9px;
  border-radius: 4px;
  font-weight: 500;
  color: #eeeeee;
}

.cell > .image {
  width: 90px;
  height: 90px;
  object-fit: contain;
}
